<div class="container pcont fadeIn">
  <div class="mycard">
    <div class="containercard">
      <div class="cardbod">
        <div class="front">
          <img src="" alt="">
          <h1>Jonathan Simanca<span>Full Stack Javascript</span></h1>
          <ul>
            <li>+57-3202696672</li>
            <li>jonathan.simanca@outlook.com</li>
          </ul>
        </div>
        <div class="back">
          <h1>Redes Sociales</h1>
          <div class="row">
            <div class="linkoption col-sm">
              <a href="https://www.linkedin.com/in/jonathinsm/" target="_blank">
                  <img src="/assets/linkedin.png">
                  <b>Linkedin</b>
              </a>
            </div>
            <div class="linkoption col-sm">
              <a href="https://www.facebook.com/jonathinsm/" target="_blank">
                  <img src="/assets/facebook.png">
                  <b>Facebook</b>
              </a>
            </div>
            <div class="linkoption col-sm">
              <a href="https://www.instagram.com/jonathinsm" target="_blank">
                  <img src="/assets/instagram.png">
                  <b>Istagram</b>
              </a>
            </div>
            <div class="linkoption col-sm">
              <a href="https://twitter.com/Jonathinsm" target="_blank">
                  <img src="/assets/twitter.png">
                  <b>Twitter</b>
              </a>
            </div>
            <div class="linkoption col-sm">
              <a href="https://github.com/jonathinsm" target="_blank">
                  <img src="/assets/github-signo.png">
                  <b>GitHub</b>
              </a>
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>