<div class="container">
  <div class="row jumbotron">
    <div class="col-sm-5"><h1 class="text-center display-4">{{title}}</h1></div>
    <div class="col-sm-4"><img class="float-left" src="/assets/carrots-crate-food-1508666.jpg" alt="" width="550" height="300"></div>
  </div>
  <div class="row">
      <h1>Bienvenido!</h1>
      <p class="lead">Esta pagina web es un demo que simula una tienda virtual tipo supermercado.
        Esta constuirida con el Stack <strong>MEAN</strong>(Mysql,Express,Angular,NodeJs) Puedes registrarte y simular la compra de productos.
        Si deseas probar la funcionalidad de admin inicia con el usuario generico:  <b>jonathan@correo.com</b> Pass: <b>12345</b>
      </p>
      <hr class="my-4">
      <div class="alert alert-warning">
        <p>!Advertencia¡ No nos hacemos responsables dela iformacioń registrada en este sitio ya que es efimera y puede ser eliminada en cualquier momento o vista por cualqueir  otra persona.</p>
      </div>
      <div class="row">
          <a class="btn btn-info" [routerLink]="['/contacto']">Contactame</a>
      </div>
    </div>  
</div>
<router-outlet></router-outlet>