<div class="container">
    <div class="col-md-5">
      <br>
        <h1>{{title}}</h1>
        <br>
        <div class="alert alert-success" *ngIf="status === 'success'">
            Actualización exitosa.
          </div>
          <div class="alert alert-danger" *ngIf="status === 'error'">
            La información no pudo ser actualizada.
          </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-12">
            <div class="form-group">
                <label>Identificacion</label>
                <input type="text" class="form-control" name="identificacion" [(ngModel)]="user.usuIdentificacion" #identificacion="ngModel" required />
                <span *ngIf="!identificacion.valid && identificacion.touched">
                  Este campo es nescesario!!
                </span>
              </div>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" name="nombre" [(ngModel)]="user.usuNombre" #nombre="ngModel" required />
              <span *ngIf="!nombre.valid && nombre.touched">
                  Este campo es nescesario!!
              </span>
            </div>
            <div class="form-grworoup">
              <label>Apellido</label>
              <input type="text" class="form-control" name="apellido" [(ngModel)]="user.usuApellido" #apellido="ngModel" required />
              <span *ngIf="!apellido.valid && apellido.touched">
                  Este campo es nescesario!!
              </span>
            </div> 
            <div class="form-group">
              <label>Dirección</label>
              <input type="text" class="form-control" name="direccion" [(ngModel)]="user.usuDireccion" #direccion="ngModel" required />
              <span *ngIf="!direccion.valid && direccion.touched">
                  Este campo es nescesario!!
              </span>
            </div>
            <div class="form-group">
                <label>Teléfono</label>
                <input type="text" class="form-control" name="telefono" [(ngModel)]="user.usuTelefono" #telefono="ngModel" required />
                <span *ngIf="!telefono.valid && telefono.touched">
                  Este campo es nescesario!!
                </span>
            </div>
            <div class="form-group">
                <label>Correo</label>
                <input type="email" class="form-control" name="correo" [(ngModel)]="user.usuCorreo" #correo="ngModel" required />
                <span *ngIf="!correo.valid && correo.touched">
                  Este campo es nescesario!!
                </span>
            </div>
            <div class="form-group">
                <label>Tarjeta:</label>
                <label><b>{{user.usuIdTarjeta}}</b></label>
            </div>
              <button type="submit" class="btn btn-primary">Actualizar</button>    
        </form>
    </div>
</div>